<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLayout</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="background-color:green; height:350px; border-radius:8px; border:2px solid black;">
        <div class="container">
            <div style="width:100%; padding:5px; height:35px;">
                <div style="background-color:lime; border-radius:5px; width:100%" class="row">
                    <div class="col-md-8 col-lg-8"><a href="#">Şirket Logosu</a></div>
                    <div class="col-md-4 col-lg-4 pull-right">Giriş Yap</div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>